{% extends 'base.html.twig' %}
	{% block body %}
		<div class="container">
				
			<div class="table-responsive">
			      <table class="table table-inverse">
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			          </tr>
			        </thead>


			        <tbody>
			     
				    {% for user in users %}
				        
					  <tr>
			            <th scope="row">{{ user.id }}</th>
			            <td>{{ user.lastname }}</td>
			            <td>{{ user.firstname }}</td>
			            <td>{{ user.phone }}</td>
			            <td>{{ user.email }}</td>
			            <td><a  class="btn btn-dark" href="/user/{{ user.id }}">See user</a></td>
			            <td><a class="btn btn-danger delete-article" href="/user/delete/{{ user.id }}">Delete</a></td>
			          	<td><a href="/user/select"><button type="button" class="btn btn-info">Update </button></a></td>		
			          </tr>
			             {% endfor %}
			          
			          <tr>
			            <td colspan="3" align="left">
			          		<a href="/user/new"><button type="button" class="btn btn-info">Add a user</button></a>
			          	    <a href="/user/select"><button type="button" class="btn btn-info">Update a user</button></a>
			            </td>
			            <td colspan="2">
			          		 &nbsp;
			            </td>
			            <td colspan="2" align="left">
			           	      <button type="button" class="btn btn-outline-info">Help ?</button>	
			            </td>
			          </tr>
					</tbody>
				</table>
			</div>			

				        
				        
								
						       	
				 

				</ul>
		</div>
	{% endblock %}

